.node__editor__zoom {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black;
	overflow: hidden;
}

.node__editor__viewport {
	left: 0;
	right: 0;
	transform-origin: 0 0;
	will-change: transform;
}

.node__editor__example_wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.node__editor__example_controls {
	position: absolute;
	background: #fff;
	z-index: 1000;
}

.node__editor__example_controls > input {
	max-width: 30px;
}

.node__editor__example_controls > span {
	margin-left: 10px;
}

.node__editor__example_node {
	position: absolute;
	border-radius: 10px;
	overflow: hidden;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	padding: 2px;
	border: 1px solid white;
	animation: fadein 1s;
}

.node__editor__example_node > input {
	border-radius: 10px;
	margin: 1px 0 5px 0;
	border: 1px solid rgb(67, 67, 67);
	padding: 2px 5px 2px 5px;
	font-size: 10px;
}

.node__editor__example_node > button {
	border-radius: 10px;
	border: 1px solid rgb(67, 67, 67);
	margin-top: auto;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
